[submodule "third_party/perception_models"]
	path = third_party/perception_models
	url = https://github.com/facebookresearch/perception_models.git
[submodule "third_party/vggt-omega"]
	path = third_party/vggt-omega
	url = https://github.com/facebookresearch/vggt-omega.git
[submodule "third_party/SUV"]
	path = third_party/SUV
	url = https://github.com/ASH-2046/SUV.git
[submodule "third_party/navsim"]
	path = third_party/navsim
	url = https://github.com/autonomousvision/navsim.git